* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

body {
  background-image: url(../source/brushed_alu.webp);
  background-color: rgb(172, 165, 165);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  gap: 10px;
}
.content .img-index {
  width: 80%;
  height: 25em;
  box-shadow: 10px 10px 5px rgb(104, 104, 175);
  object-fit: cover;
}

hr {
  border: 3px solid black;
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  animation: titulos 1000ms steps(14, end) forwards 1000ms;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: auto;
  border-right: 2px solid #ffffff;
}

.cont:nth-of-type(2) {
  height: 0;
  animation-delay: 1550ms;
}

.cont:nth-of-type(3) {
  height: 0;
  animation-delay: 2600ms;
}

@keyframes titulos {
  0% {
    border-width: 2px;
  }
  5% {
    width: 0;
    height: auto;
    border-width: 2px;
  }
  93% {
    border-width: 2px;
  }
  100% {
    width: 100%;
    height: auto;
    border-width: 0;
  }
}
.logo {
  width: 50%;
}
.logo img {
  max-width: 150px;
}

.navbar {
  width: 100%;
  display: flex;
}
.navbar ul {
  display: flex;
  list-style-type: none;
}
.navbar li {
  margin: 5px;
  margin-top: auto;
}
.navbar a {
  color: white;
  text-decoration: none;
}
.navbar a:hover {
  border-bottom: 1px solid white;
  transition: 0.4s;
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.contacto {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 5em;
  padding-top: 30px;
  flex-wrap: wrap;
}
.contacto .imagenes {
  width: 10em;
  height: 10em;
}

/* Formulario de contacto */
.cont-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.cont-form .formulario {
  margin: 20px;
  width: 100%;
}
.cont-form input {
  margin: 20px;
  width: 85vw;
  padding: 10px;
}
.cont-form textarea {
  margin: 20px;
  width: 85vw;
  height: 30vh;
}
.cont-form form button {
  width: 97%;
  background-color: rgb(104, 104, 175);
  padding: 7px;
  border-radius: 5px;
}
.cont-form form button:hover {
  background-color: rgba(46, 46, 209, 0.958);
  color: white;
}

fieldset {
  border: 2px solid white;
  box-shadow: 0 0 10px white;
  border-radius: 6px;
}

/* Fin de formulario */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.grid-container .grid-item:hover {
  transform: scaleX(1.1);
  transition: 0.4s;
}
.grid-container img {
  width: 343px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

/* Cuerpo de pagina index */
main {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .video {
  height: 80%;
  box-shadow: 10px 10px 5px rgb(104, 104, 175);
}

.content p {
  text-align: justify;
  margin: 1em;
}

iframe {
  box-shadow: 10px 10px 5px rgb(104, 104, 175);
  width: 75%;
}

@media (max-width: 520px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 520px) and (max-width: 1024px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 520px) {
  .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 520px) {
  .cont-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .cont-form button {
    width: 200px;
    justify-content: center;
  }
}
@media (min-width: 100px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 520px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 728px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* Fin grids */

/*# sourceMappingURL=style.css.map */
