//grid galeria

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    
    .grid-item {
        &:hover {
            transform: scaleX(1.1);
            transition: 0.4s;
        }
    }
    img {
        width: 343px;
        height: 300px;
        border-radius: 10px;
        object-fit: cover;
    }
   
}

