//media cotenidos
@media (max-width: 520px){
    .content {
        display: flex;
        flex-direction: column;
        
    }
}

@media (min-width: 520px) and (max-width: 1024px){
    .content {
        display: flex;
        flex-direction: column;
        
    }
}

@media screen and (max-width: 520px) {
    .contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

@media screen and (max-width: 520px) {
    .cont-form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        button {
            width: 200px;
            justify-content: center;
        }
    }
    
}


@media (min-width:100px){
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width:520px){
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width:728px){
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width:1024px){
    .grid-container{
        grid-template-columns: repeat(4, 1fr);
    }
}
/* Fin grids */

