.cont {
    @include flexjustify;
    font-size: 3rem;
}
.contacto {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 5em;
    padding-top: 30px;
    flex-wrap: wrap;

.imagenes {
    width: 10em;
    height: 10em;
}
}

/* Formulario de contacto */
.cont-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    
  
  .formulario {
    margin: 20px;
    width: 100%;
}
  
  input {
    margin: 20px;
    width: 85vw;
    padding: 10px;
  }
  
  textarea {
    margin: 20px;
    width: 85vw;
    height: 30vh;
  }
  
  form button {
    width: 97%;
    background-color: $color-sombra;
    padding: 7px;
    border-radius: 5px;

         &:hover {
            background-color: rgba(46, 46, 209, 0.958);
            color: white;
  }
}
}

fieldset {
  border: 2px solid white;
  box-shadow: 0 0 10px white;
  border-radius: 6px;
}


  /* Fin de formulario */